name: DogDataAuto
on:
  workflow_dispatch:
jobs:
  run-task:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install requests beautifulsoup4 pandas lxml
      - name: Run script
        run: python main.py
      - name: Save file
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add *.csv
          git commit -m "update amazon data" || exit 0
          git push
